XSD/3DMD_ADE.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:md="http://godzilla.bk.tudelft.nl/schemas/3DMD_ADE" elementFormDefault="qualified" targetNamespace="http://godzilla.bk.tudelft.nl/schemas/3DMD_ADE" version="3.1.1">
  <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="ADEidentifier" substitutionGroup="md:_MetadaHelperClasses" type="md:ADEidentifierType"/>
  <complexType name="ADEidentifierType">
    <complexContent>
      <extension base="md:_MetadaHelperClassesType">
        <sequence>
          <element name="adeName" type="string"/>
          <element name="adeVersion" type="string"/>
          <element name="namespace" type="anyURI"/>
          <element name="status" type="string"/>
          <element name="authority" type="md:_ContactPropertyType"/>
          <element minOccurs="0" name="summary" type="string"/>
          <element minOccurs="0" name="xmlSchema" type="anyURI"/>
          <element minOccurs="0" name="umlModel" type="anyURI"/>
          <element minOccurs="0" name="documentation" type="anyURI"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ADEidentifierPropertyType">
    <sequence minOccurs="0">
      <element ref="md:ADEidentifier"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="ConstraintsOnUsage" substitutionGroup="gml:_GML" type="md:ConstraintsOnUsageType"/>
  <complexType name="ConstraintsOnUsageType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="legalConstraints" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="securityConstraints" type="gml:CodeType"/>
          <element minOccurs="0" name="userNote" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ConstraintsOnUsagePropertyType">
    <sequence minOccurs="0">
      <element ref="md:ConstraintsOnUsage"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="ISOidentifier" substitutionGroup="md:_MetadaHelperClasses" type="md:ISOidentifierType"/>
  <complexType name="ISOidentifierType">
    <complexContent>
      <extension base="md:_MetadaHelperClassesType">
        <sequence>
          <element name="datasetTitle" type="string"/>
          <element name="datasetReferenceDate" type="date"/>
          <element minOccurs="0" name="datasetResponsibleParty" type="md:_ContactPropertyType"/>
          <element name="geoLocation" type="string"/>
          <element name="datasetLanguage" type="string"/>
          <element minOccurs="0" name="datasetCharacterSet" type="string"/>
          <element name="datasetTopicCategory" type="gml:CodeType"/>
          <element name="datasetDescription" type="string"/>
          <element minOccurs="0" name="distributionFormatVersion" type="string"/>
          <element minOccurs="0" name="spatialRepresentationType" type="gml:CodeType"/>
          <element minOccurs="0" name="referenceSystem" type="string"/>
          <element minOccurs="0" name="temporalInformation" type="string"/>
          <element minOccurs="0" name="onlineResource" type="anyURI"/>
          <element minOccurs="0" name="fileIdentifier" type="string"/>
          <element minOccurs="0" name="metadataStandard" type="string"/>
          <element minOccurs="0" name="metadataStandardVersion" type="string"/>
          <element minOccurs="0" name="metadataLanguage" type="string"/>
          <element minOccurs="0" name="metadataCharacterSet" type="string"/>
          <element name="metadataPointOfContact" type="md:_ContactPropertyType"/>
          <element name="metadataDateStamp" type="date"/>
          <element minOccurs="0" name="lineage" type="md:LineagePropertyType"/>
          <element name="boundingBox3D">
            <complexType>
              <sequence minOccurs="0">
                <element ref="gml:Envelope"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </complexType>
          </element>
          <element name="abstract" type="string"/>
          <element name="specificUsage" type="string"/>
          <element name="keywords" type="string"/>
          <element minOccurs="0" name="constraints" type="md:ConstraintsOnUsagePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ISOidentifierPropertyType">
    <sequence minOccurs="0">
      <element ref="md:ISOidentifier"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="IndividualContact" substitutionGroup="md:_Contact" type="md:IndividualContactType"/>
  <complexType name="IndividualContactType">
    <complexContent>
      <extension base="md:_ContactType">
        <sequence>
          <element minOccurs="0" name="role" type="gml:CodeType"/>
          <element minOccurs="0" name="organization" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IndividualContactPropertyType">
    <sequence minOccurs="0">
      <element ref="md:IndividualContact"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="LODcodeType">
    <restriction base="string">
      <enumeration value="0"/>
      <enumeration value="0.0"/>
      <enumeration value="0.1"/>
      <enumeration value="0.2"/>
      <enumeration value="0.3"/>
      <enumeration value="1"/>
      <enumeration value="1.0"/>
      <enumeration value="1.1"/>
      <enumeration value="1.2"/>
      <enumeration value="1.3"/>
      <enumeration value="2"/>
      <enumeration value="2.0"/>
      <enumeration value="2.1"/>
      <enumeration value="2.2"/>
      <enumeration value="2.3"/>
      <enumeration value="3"/>
      <enumeration value="3.0"/>
      <enumeration value="3.1"/>
      <enumeration value="3.2"/>
      <enumeration value="3.3"/>
      <enumeration value="4"/>
    </restriction>
  </simpleType>
  <element name="LevelOfDetail" substitutionGroup="md:_MetadaHelperClasses" type="md:LevelOfDetailType"/>
  <complexType name="LevelOfDetailType">
    <complexContent>
      <extension base="md:_MetadaHelperClassesType">
        <sequence>
          <element name="lod" type="md:LODcodeType"/>
          <element name="objectCount" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LevelOfDetailPropertyType">
    <sequence minOccurs="0">
      <element ref="md:LevelOfDetail"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Lineage" substitutionGroup="gml:_GML" type="md:LineageType"/>
  <complexType name="LineageType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element minOccurs="0" name="source" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="processStep" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LineagePropertyType">
    <sequence minOccurs="0">
      <element ref="md:Lineage"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="MDBreaklineRelief" substitutionGroup="md:_TerrainProperties" type="md:MDBreaklineReliefType"/>
  <complexType name="MDBreaklineReliefType">
    <complexContent>
      <extension base="md:_TerrainPropertiesType">
        <sequence>
          <element name="lineCount" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MDBreaklineReliefPropertyType">
    <sequence minOccurs="0">
      <element ref="md:MDBreaklineRelief"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="MDMasspointRelief" substitutionGroup="md:_TerrainProperties" type="md:MDMasspointReliefType"/>
  <complexType name="MDMasspointReliefType">
    <complexContent>
      <extension base="md:_TerrainPropertiesType">
        <sequence>
          <element name="pointCount" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MDMasspointReliefPropertyType">
    <sequence minOccurs="0">
      <element ref="md:MDMasspointRelief"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="MDRasterRelief" substitutionGroup="md:_TerrainProperties" type="md:MDRasterReliefType"/>
  <complexType name="MDRasterReliefType">
    <complexContent>
      <extension base="md:_TerrainPropertiesType">
        <sequence>
          <element name="extent">
            <complexType>
              <sequence minOccurs="0">
                <element ref="gml:Envelope"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </complexType>
          </element>
          <element name="resolution" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MDRasterReliefPropertyType">
    <sequence minOccurs="0">
      <element ref="md:MDRasterRelief"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="MDTINRelief" substitutionGroup="md:_TerrainProperties" type="md:MDTINReliefType"/>
  <complexType name="MDTINReliefType">
    <complexContent>
      <extension base="md:_TerrainPropertiesType">
        <sequence>
          <element name="triangleCount" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MDTINReliefPropertyType">
    <sequence minOccurs="0">
      <element ref="md:MDTINRelief"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="MDbridge" substitutionGroup="md:_MetadataCityfeatures" type="md:MDbridgeType"/>
  <complexType name="MDbridgeType">
    <complexContent>
      <extension base="md:_MetadataCityfeaturesType">
        <sequence>
          <element name="bridgeParts" type="integer"/>
          <element name="bridgeInstallations" type="integer"/>
          <element name="bridgeConstructionElements" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MDbridgePropertyType">
    <sequence minOccurs="0">
      <element ref="md:MDbridge"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="MDbuilding" substitutionGroup="md:_MetadataCityfeatures" type="md:MDbuildingType"/>
  <complexType name="MDbuildingType">
    <complexContent>
      <extension base="md:_MetadataCityfeaturesType">
        <sequence>
          <element name="buildingParts" type="integer"/>
          <element name="buildingInstallations" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MDbuildingPropertyType">
    <sequence minOccurs="0">
      <element ref="md:MDbuilding"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="MDcityFurniture" substitutionGroup="md:_MetadataCityfeatures" type="md:MDcityFurnitureType"/>
  <complexType name="MDcityFurnitureType">
    <complexContent>
      <extension base="md:_MetadataCityfeaturesType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MDcityFurniturePropertyType">
    <sequence minOccurs="0">
      <element ref="md:MDcityFurniture"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="MDcityObjectGroup" substitutionGroup="md:_MetadataCityfeatures" type="md:MDcityObjectGroupType"/>
  <complexType name="MDcityObjectGroupType">
    <complexContent>
      <extension base="md:_MetadataCityfeaturesType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="MDcityObjectGroupMember" type="md:_MetadataCityfeaturesPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MDcityObjectGroupPropertyType">
    <sequence minOccurs="0">
      <element ref="md:MDcityObjectGroup"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="MDcitymodel" substitutionGroup="md:_MetadataModule" type="md:MDcitymodelType"/>
  <complexType name="MDcitymodelType">
    <complexContent>
      <extension base="md:_MetadataModuleType">
        <sequence>
          <element name="metadataIdentifier" type="ID"/>
          <element minOccurs="0" name="citymodelIdentifier" type="ID"/>
          <element minOccurs="0" name="ISOmetadata" type="md:ISOidentifierPropertyType"/>
          <element minOccurs="0" name="thematicModels" type="md:presentThematicModelsPropertyType"/>
          <element minOccurs="0" name="textures" type="md:StateCodeType"/>
          <element minOccurs="0" name="materials" type="md:StateCodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="ADEmetadata" type="md:ADEidentifierPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="MDcityfeatures" type="md:_MetadataCityfeaturesPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="LevelsOfDetail" type="md:LevelOfDetailPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MDcitymodelPropertyType">
    <sequence minOccurs="0">
      <element ref="md:MDcitymodel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="MDgenerics" substitutionGroup="md:_MetadataCityfeatures" type="md:MDgenericsType"/>
  <complexType name="MDgenericsType">
    <complexContent>
      <extension base="md:_MetadataCityfeaturesType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MDgenericsPropertyType">
    <sequence minOccurs="0">
      <element ref="md:MDgenerics"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="MDlanduse" substitutionGroup="md:_MetadataCityfeatures" type="md:MDlanduseType"/>
  <complexType name="MDlanduseType">
    <complexContent>
      <extension base="md:_MetadataCityfeaturesType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MDlandusePropertyType">
    <sequence minOccurs="0">
      <element ref="md:MDlanduse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="MDterrain" substitutionGroup="md:_MetadataCityfeatures" type="md:MDterrainType"/>
  <complexType name="MDterrainType">
    <complexContent>
      <extension base="md:_MetadataCityfeaturesType">
        <sequence>
          <element name="terrainType" type="md:TerrainTypeCodeType"/>
          <element minOccurs="0" name="TerrainProperties" type="md:_TerrainPropertiesPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MDterrainPropertyType">
    <sequence minOccurs="0">
      <element ref="md:MDterrain"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="MDtransportation" substitutionGroup="md:_MetadataCityfeatures" type="md:MDtransportationType"/>
  <complexType name="MDtransportationType">
    <complexContent>
      <extension base="md:_MetadataCityfeaturesType">
        <sequence>
          <element name="roads" type="integer"/>
          <element name="railways" type="integer"/>
          <element name="tracks" type="integer"/>
          <element name="squares" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MDtransportationPropertyType">
    <sequence minOccurs="0">
      <element ref="md:MDtransportation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="MDtunnel" substitutionGroup="md:_MetadataCityfeatures" type="md:MDtunnelType"/>
  <complexType name="MDtunnelType">
    <complexContent>
      <extension base="md:_MetadataCityfeaturesType">
        <sequence>
          <element name="tunnelParts" type="integer"/>
          <element name="tunnelInstallations" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MDtunnelPropertyType">
    <sequence minOccurs="0">
      <element ref="md:MDtunnel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="MDvegetation" substitutionGroup="md:_MetadataCityfeatures" type="md:MDvegetationType"/>
  <complexType name="MDvegetationType">
    <complexContent>
      <extension base="md:_MetadataCityfeaturesType">
        <sequence>
          <element name="plantCovers" type="integer"/>
          <element name="solitaryVegetationObjects" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MDvegetationPropertyType">
    <sequence minOccurs="0">
      <element ref="md:MDvegetation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="MDwaterBody" substitutionGroup="md:_MetadataCityfeatures" type="md:MDwaterBodyType"/>
  <complexType name="MDwaterBodyType">
    <complexContent>
      <extension base="md:_MetadataCityfeaturesType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MDwaterBodyPropertyType">
    <sequence minOccurs="0">
      <element ref="md:MDwaterBody"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="OrganizationalContact" substitutionGroup="md:_Contact" type="md:OrganizationalContactType"/>
  <complexType name="OrganizationalContactType">
    <complexContent>
      <extension base="md:_ContactType">
        <sequence>
          <element minOccurs="0" name="website" type="anyURI"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OrganizationalContactPropertyType">
    <sequence minOccurs="0">
      <element ref="md:OrganizationalContact"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="StateCodeType">
    <restriction base="string">
      <enumeration value="present"/>
      <enumeration value="absent"/>
    </restriction>
  </simpleType>
  <simpleType name="TerrainTypeCodeType">
    <restriction base="string">
      <enumeration value="TINRelief"/>
      <enumeration value="RasterRelief"/>
      <enumeration value="MassPointRelief"/>
      <enumeration value="BreaklineRelief"/>
    </restriction>
  </simpleType>
  <simpleType name="ThematicModelCodeType">
    <restriction base="string">
      <enumeration value="Bridge"/>
      <enumeration value="Building"/>
      <enumeration value="CityFurniture"/>
      <enumeration value="CityObjectGroup"/>
      <enumeration value="Generics"/>
      <enumeration value="LandUse"/>
      <enumeration value="Relief"/>
      <enumeration value="Transportation"/>
      <enumeration value="Tunnel"/>
      <enumeration value="Vegetation"/>
      <enumeration value="WaterBody"/>
    </restriction>
  </simpleType>
  <element abstract="true" name="_Contact" substitutionGroup="md:_MetadaHelperClasses" type="md:_ContactType"/>
  <complexType abstract="true" name="_ContactType">
    <complexContent>
      <extension base="md:_MetadaHelperClassesType">
        <sequence>
          <element name="contactName" type="string"/>
          <element name="phone" type="string"/>
          <element name="address" type="string"/>
          <element name="emailAddress" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="_ContactPropertyType">
    <sequence minOccurs="0">
      <element ref="md:_Contact"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="_MetadaHelperClasses" substitutionGroup="md:_MetadataModule" type="md:_MetadaHelperClassesType"/>
  <complexType abstract="true" name="_MetadaHelperClassesType">
    <complexContent>
      <extension base="md:_MetadataModuleType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="_MetadaHelperClassesPropertyType">
    <sequence minOccurs="0">
      <element ref="md:_MetadaHelperClasses"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="_MetadataCityfeatures" substitutionGroup="md:_MetadataModule" type="md:_MetadataCityfeaturesType"/>
  <complexType abstract="true" name="_MetadataCityfeaturesType">
    <complexContent>
      <extension base="md:_MetadataModuleType">
        <sequence>
          <element name="featureType" type="md:ThematicModelCodeType"/>
          <element name="featureCount" type="integer"/>
          <element maxOccurs="unbounded" minOccurs="0" name="LevelsOfDetail" type="md:LevelOfDetailPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="_MetadataCityfeaturesPropertyType">
    <sequence minOccurs="0">
      <element ref="md:_MetadataCityfeatures"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="_MetadataModule" substitutionGroup="gml:_Feature" type="md:_MetadataModuleType"/>
  <complexType abstract="true" name="_MetadataModuleType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="_MetadataModulePropertyType">
    <sequence minOccurs="0">
      <element ref="md:_MetadataModule"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="_TerrainProperties" substitutionGroup="gml:_Feature" type="md:_TerrainPropertiesType"/>
  <complexType abstract="true" name="_TerrainPropertiesType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="_TerrainPropertiesPropertyType">
    <sequence minOccurs="0">
      <element ref="md:_TerrainProperties"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="presentThematicModels" substitutionGroup="gml:_GML" type="md:presentThematicModelsType"/>
  <complexType name="presentThematicModelsType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element maxOccurs="unbounded" name="thematicModel" type="md:ThematicModelCodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="presentThematicModelsPropertyType">
    <sequence minOccurs="0">
      <element ref="md:presentThematicModels"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
</schema>
